@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 34, 40, 49; /* Dark slate color */
  --background-end-rgb: 57, 62, 70; /* Slightly lighter slate color */
  --noise-opacity: 0.05;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 34, 40, 49;
    --background-end-rgb: 57, 62, 70;
    --noise-opacity: 0.05;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--background-end-rgb), 1)
    );
  position: relative;
  overflow: hidden;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" filter="url(#noiseFilter)"><filter id="noiseFilter"><feTurbulence type="fractalNoise" baseFrequency="0.8" numOctaves="3" stitchTiles="stitch" /></filter><rect width="100%" height="100%" fill="white" filter="url(#noiseFilter)" /></svg>');
  opacity: var(--noise-opacity);
  pointer-events: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.no-scrollbar { 
  overflow-y: auto; /* hide scrollbar for IE, Edge, and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hide scrollbar for Chrome, Safari, and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
